.container {
  margin-bottom: 7em;
}

.row {
  width: 100%;
  background-color: black;
  margin: 0;
}

.col {
    width: 50vw;
}

.four-square {
  height: 20em;
  overflow: hidden;
  margin: 0;
  
  .img-div {
    width: 100%;
  }

  img {
      width: 100%;
      min-height: 20em;
  }
}

.motto {
    background-color:rgb(43, 3, 13);
    animation-name: mottobox;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ease-in-out;
  }

  @keyframes mottobox {
    0%   {background-color:rgb(90, 6, 6);}
    25%  {background-color:rgb(102, 4, 4);}
    50%  {background-color:rgb(61, 5, 5);}
    75%  {background-color:rgb(43, 3, 13);}
    100% {background-color:rgb(88, 7, 7);}
  }

.motto {
    text-align: center;
    color: whitesmoke;

    h2 {
        margin: 1em auto;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
        padding: 0 2em;
    }
}