@media only screen and (max-width: 740px) {
    // img {
    //     visibility: hidden; 
    // }
    // .menu-list-items {
    //     font-size: 0.8rem;
    //     margin: 0 auto;
    //     position: absolute;
    // }
    .menu-items {
        display: flex;
        flex-direction: column;

        img {
            width: 200px;
            margin-top: 3.5em;
        }

        .menu-list-items {
            font-size: 1em;
        }
    }
}

.menu-page {
    width: 100vw;
    // height: 100vh;
    padding: 1em 3em;

    h1 {
        text-align: center;
        margin: 1em;
    }

    .menu-items {
        display: flex;
        justify-content: space-around;
        height: 600px;
        align-items: center;

        img {
            margin-bottom: 2em;
        }

        .menu-list-items {
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            line-height: 180%;
            width: 20rem;

            .text {
                text-decoration-style: dotted;
            }
        }
    }
}