@media only screen and (max-width: 740px) {
    .menu-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 7em;

        img {
            width: 200px;
            min-height: 350px;
            margin-top: 7em;
            margin-bottom: 1rem;
        }

        .menu-list-items {
            font-size: 1em;
        }
    }
}

.menu-page {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem 3rem;

    h1 {
        text-align: center;
        margin: 1rem;
        font-size: 50px;
        height: 17vh;
    }

    .menu-items {
        display: flex;
        justify-content: space-around;
        height: 600px;
        align-items: center;

        img {
            height: 500px;
            box-shadow: 2px 2px 2px  rgb(43, 3, 13);
        }

        .menu-list-items {
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            line-height: 180%;
            width: 20rem;
            height: 270%;

            .text {
                text-decoration-style: dotted;
            }
        }
    }
}